body{
    background-color: #A4B0F5;
    font-family: 'Varela Round', sans-serif;
}
.jumbotron{
    background-color: #3C7A89;
}
.main{
    color: #FCF7F8
}
input, textarea{
    color: black;
}
.content p, a{
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}
hr{
    border-top: 1px solid #8c8b8b;
}